  <!-- Sidebar Offcanvas -->
  <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarLabel"><a style="text-decoration: none; color: white;" href="index.html">
          BM4LLM-SLR </a></h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column">

        <li class="nav-item text-white-50 fw-bold mt-4">Configuration</li>
        <li class="nav-item"><a class="nav-link text-white" href="my-reviews.html">My Review</a></li>

        <li class="nav-item text-white-50 fw-bold mt-4">Phase 1 - LLM pre-screening</li>
        <li class="nav-item"><a class="nav-link text-white" href="pre-selection.html">Pre-Selection</a></li>

        <li class="nav-item text-white-50 fw-bold mt-4">Phase 2 - looping phase</li>
        <li class="nav-item"><a class="nav-link text-white" href="hil-confidence.html">Consensus Building</a></li>

        <li class="nav-item text-white-50 fw-bold mt-4">Results</li>
        <li class="nav-item"><a class="nav-link text-white" href="finalReport.html">Final Report</a></li>
      </ul>
    </div>
  </div>

  <!-- Top Navbar (for toggle button) -->
  <nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
      <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand mb-0 h1 text-white">
        <a style="text-decoration: none; color: white;" href="profile.html">
          <i class="bi bi-person-gear"></i>
        </a>
      </span>
    </div>
  </nav>